<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Inicio</a>
        </li>
      </ul>
          <div><a href="/profile"><button>Perfil</button></a></div>
      <div><a href="/admin"><button>Admin Panel </button></a></div>
      <div><a href="cart/{{user.cart}}"><button>Carrito</button></a></div>
            <div><a href="/chat"><button >Ir al chat</button></a></div>

      
       
      <div><button id="logout">Salir</button></div>
    </div>
  </div>
</nav>
<h1>Panel de administracion</h1>
  <div class="flex justify-center flex-col gap-4 mx-2">
    {{#each parsedUsers}}
      <div >
        {{#if this.profile_picture}}
            <img
                src="/{{this.profile_picture}}"
                alt="profile picture"
            />
          {{else}}
          </svg>
        {{/if}}
        <div class="flex justify-between w-full">
          <div class="flex flex-col gap-1">
            <h3 >{{this._doc.first_name}} {{this._doc.last_name}}</h3>
            <p >Email: {{this._doc.email}}</p>
            <p >Permiso: {{this._doc.role}}</p>
            <p>Ultima coneccion: {{this.last_connection}}</p>
          </div>
        <button id="deleteUser-{{this._doc.cart}}" ><span>Eliminar Usuario</span></button>
         <button id="changeRole-{{this._doc._id}}" ><span>Cambiar ROL</span></button>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="flex">
    <button id="deleteInactiveUsers"><span>Delete inactive users</span></button>
  </div>
<script
  src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"
></script>
<script src="/js/admin.js" type="module"></script>