<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Inicio</a>
        </li>
      </ul>
          <div><a href="/profile"><button>Perfil</button></a></div>
      <div><a href="/admin"><button>Admin Panel </button></a></div>
      <div><a href="cart/{{user.cart}}"><button>Carrito</button></a></div>
      <div><a href="/chat"><button >Ir al chat</button></a></div>
      
       
      <div><button id="logout">Salir</button></div>
    </div>
  </div>
</nav>
</nav>
  <h1 class="flex p-2 justify-center font-mono text-2xl text-slate-200">Detalles del carrito
    <span id="cartId">{{cart._id}}</span></h1>
  {{#if cart.products}}
    <div id="cartDetail" class="flex flex-col justify-center m-6 items-center">
      {{#each cart.products}}
        <div
          style="width: 100%;"
          id="{{this.productId._id}}"
        >
          <div style="display:flex; align-items:center;background-color:rgb(4, 119, 252)">
            <img
              src="{{lookup this.productId.thumbnails 0}}"
              alt="product image"
              class="aspect-square max-h-32 m-2 ring-4 rounded-xl"
            />
            <div class="px-5 mt-2">
              <h5
                class="text-2xl font-semibold  text-black text-center"
              >{{this.productId.title}}</h5>
              <p class="font-light  text-black my-1">Cantidad
                {{this.quantity}}</p>
              <p class="font-light text-black my-1">Precio unitario ${{this.productId.price}}</p>
              <div class="flex justify-between">
                {{!-- <p class="text-lg tracking-wider text-white my-1">Total price: ${{multiply
                    this.productId.price
                    this.quantity
                  }}</p> --}}
                <form
                  class="flex justify-end"
                  id="removeFromCartForm-{{this.productId._id}}"
                >
                  <button
                    type="submit"
                    class="text-slate-100 bg-red-700 hover:bg-red-800 focus:ring-2 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-xs w-full sm:w-auto px-3 py-1.5 text-center"
                  ><span>Eliminar</span></button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
      <div>
        <form id="payment-form">
          <div id="link-authentication-elements"></div>
          <div id="payment-element"></div>
          <div class="spinner hidden" id="spinner"></div>
          <div id="payment-message" class="hidden text-black mt-2 text-xs"></div>
        </form>
      </div>
      <button
        class="mt-4 "
        id="checkoutBtn"
      >Confirmar pago</button>
    </div>
  {{else}}
    <h3
      class="flex p-3 justify-center"
    >Tu carro esta vacio</h3>
  {{/if}}
    </a>
  </div>
</div>
<script
  src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"
></script>
{{#if cart.products}}<script src="https://js.stripe.com/v3/"></script>{{/if}}
<script type="module" src="/js/cart.js" ></script>