<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Inicio</a>
        </li>
      </ul>
          <div><a href="/profile"><button>Perfil</button></a></div>
      <div><a href="/admin"><button>Admin Panel </button></a></div>
      <div><a href="cart/{{user.cart}}"><button>Carrito</button></a></div>
            <div><a href="/chat"><button >Ir al chat</button></a></div>

      
       
      <div><button id="logout">Salir</button></div>
    </div>
  </div>
</nav>
</nav>
<div id="app">

  <h1 style="display: flex">Bienvenido {{user.first_name}} {{user.last_name}} </h1>
  <h2>Tu email es:{{user.email}}</h2>
  <h2>Tu edad: {{user.age}}</h2>

  <h2>Lista de Productos</h2>

  <div id="productsList">
    {{#each products}}
    <div class=" bg-center-l h-10 " id="{{this._id}}">
      <div class="p w-full p-2 justify-evenly">
        {{#each this.thumbnails}}
        <img src="{{this}}" alt="product image" class="aspect-square max-h-20 m-2 ring-4 rounded-xl" />
        {{/each}}
      </div>

      <div class="px-5 pb-5 flex flex-wrap w-10 h-10">
        <h5>{{this.title}}</h5>
        <p>{{this.description}}</p>
        <p id="stock">Stock:
          {{this.stock}}</p>


        <form id="addToCartForm-{{this._id}}">
          <div>
            <p>${{this.price}}</p>
            <button type="submit">Agregar al carrito</button>
          </div>
        </form>
        <a href="product/{{this._id}}">
          <button>Detalles Del Producto</button>
        </a>
      </div>
    </div>
    {{/each}}
  </div>
  <div class="flex flex-row justify-center m-4">
    {{#if hasPrevPage}}
    <a href="/products?page={{prevPage}}"><button
        class="text-slate-100 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-8 py-2.5 text-center ml-2">Previous</button></a>
    {{/if}}

    <p
      class="text-slate-100 bg-gray-500/50 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-6 py-2.5 text-center mx-4">
      {{page}}</p>

    {{#if hasNextPage}}
    <a href="/products?page={{nextPage}}"><button
        class="text-slate-100 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-8 py-2.5 text-center ml-2">Next</button></a>
    {{/if}}
  </div>

</div>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"></script>

<script type="module" src="/js/products.js"></script>