<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/products">Inicio</a>
        </li>
      </ul>
          <div><a href="/profile"><button>Perfil</button></a></div>
      <div><a href="/admin"><button>Admin Panel </button></a></div>
      <div><a href="cart/{{user.cart}}"><button>Carrito</button></a></div>
            <div><a href="/chat"><button >Ir al chat</button></a></div>

      
       
      <div><button id="logout">Salir</button></div>
    </div>
  </div>
</nav>
<div class="p-4 h-auto">

  <h1>Mi perfil</h1>
  <div>
    <div>
      <div >
        <div>
        </div>
        <h5
        
        >{{user.name}}</h5>
        <span >Usted es:
          {{user.role}}</span>
        <span >Email:
          {{user.email}}</span>
        <span>Edad:
          {{user.age}}</span>
        <span>Id del carrito:
          {{user.cart}}</span>
        <span class="hidden" id="userId">{{user.cart}}</span>
      </div>
      <div class="flex">
        <form id="addProfilePictureForm" enctype="multipart/form-data">
          <div class="w-full max-w-xs mb-6">
            <label
              for="profile"
            >Foto</label>
            <input class="hidden" type="file" id="profile" name="profile" />
          </div>
        </form>

        <form id="updateProfilePictureForm" enctype="multipart/form-data">
          <div class="w-full max-w-xs mb-6">
            <label
              for="profile"
            >Cambiar foto de perfil</label>
            <input class="hidden" type="file" id="profile" name="profile" />
          </div>
        </form>
        <form id="changeRoleForm">
          <div class="w-full max-w-xs mb-6">
            <button
              class=" {{#compare user.role "===" "admin"}}disabled:bg-slate-500 line-through{{/compare}}"
              {{#compare user.role "===" "admin"}}Desactivado{{/compare}}
            >Cambiar Foto de perfil</button>
          </div>
        </form>
      </div>
    </div>
    <form
      id="addDocumentsForm"
      enctype="multipart/form-data"
      class="{{#compare user.role "===" "admin"}}hidden{{/compare}}"
    >
      <h3
      >Subir Documentacion:</h3>
      <div class="relative z-0 w-full mb-6 group -mt-1">
        <label
          class="block mb-2 text-sm text-slate-200"
          for="identification"
        >Id</label>
        <input
          type="file"
          id="identification"
          name="identification"
        />

      </div>
      <div class="relative z-0 w-full mb-6 group -mt-1">
        <label class="block mb-2 text-sm text-slate-200" for="address">Direccion</label>
        <input
          type="file"
          id="address"
          name="address"
        />

      </div>
      <div class="relative z-0 w-full mb-6 group -mt-1">
        <label
          class="block mb-2 text-sm text-slate-200"
          for="statement"
        >Estado de cuenta</label>
        <input

          type="file"
          id="statement"
          name="statement"
        />

      </div>
      <div class="grid grid-cols-2">
        <button
          type="submit"
        >Enviar</button>
        <button
          type="reset"
        >Reset</button>
        <button
          id="checkDocumentation"
        >Revisar Documentacion</button>
      </div>
    </form>
  </div>
</div>
<script
  src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.all.min.js
"
></script>
<script src="/js/profile.js" type="module"></script>